.color-A{
     background-color: #88cffa !important; 
}
.color-B{
    background-color: #faf188 !important;
}
.color-C{
    background-color: #a880ba !important;
}
.color-D{
    background-color: #f7a742 !important;
}
.color-E{
    background-color: #83cb9b !important;
}
.color-F{
    background-color: #957e7e !important;
}