.imgLogo {
    width: 32px;
}

.tamanioMoneda {
    width: 64px;
    height: 64px;
    z-index: 1000;
}

.monedaIntento {
    background-color: gray;
}

.monedaSolucion {
    width: 32px;
    height: 32px;
    z-index: 999;
}

.error {
    font-size: small;
    color: red;
}

.intentos {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
}

.fondo-info {
    background-color: lightskyblue;
    border: 2px solid #409dc4;
}

.fondo-intentos {
    background-color: #ffe8cd;
    border: 2px solid #9f5700;
}

.partidaGanda {
    background-color: lightgreen;
    border: 2px solid green;
}

.partidaPerdida {
    background-color: #ffbfaa;
    border: 2px solid red;
}

::-webkit-scrollbar {
    width: 0px;
}