.fondo {
    background-image: url(../assets/Imagenes/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "marvel";
    src: url(../assets/Fuentes/Marvel-Regular.ttf);
}