<div *ngIf="pelicula" class="row pelicula">
    <div class="col-12 col-lg-6 d-flex justify-content-around align-items-center my-3">
        <img src="{{pelicula.urlImagen}}" alt="Portada de {{pelicula.nombre}}" class="portadaPelicula">
    </div>

    <div class="col-12 col-lg-6 d-flex align-items-center p-4 mt-3 pe-lg-5 my-3">
        <div class="w-100 p-3 info-pelicula">
            <div class="d-flex justify-content-between">
                <h1>{{pelicula.nombre | nombrePelicula}}</h1>
                <div *ngIf="pelicula.esMarvel === true">{{pelicula.fechaSalida | fasePelicula }}</div>
            </div>

            <div class="fw-bold">Fecha de salida: {{pelicula.fechaSalida}}</div>

            <div id="sinopsis" class="mt-4">
                {{pelicula.sinopsis | sinopsisPelicula}}
            </div>

            <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                    <button id="botonCrearFormularioModificar" class="btn btn-danger m-1"
                        (click)="crearFormularioModificarPeli()">Modificar pelicula</button>
                    <button class="btn btn-danger m-1" (click)="eliminarPelicula()">Eliminar pelicula</button>
                </div>
                <div>
                    <button class="btn btn-danger" (click)="goBack()">Volver a la lista de peliculas</button>
                </div>
            </div>

            <div id="formModificarPelicula" class="formulario my-5 d-none">
                <h3 class="text-center pt-3">Modificar pelicula</h3>
                <hr class="mx-auto w-100">
                <div class="d-flex flex-column align-items-center pb-3">
                    <label for="nombrePelicula" class="fw-bold">Nombre de la pelicula</label>
                    <input type="text" name="formModificarPelicula" id="nombrePelicula"
                        value="{{pelicula.nombre | nombrePelicula}}" class="w-75 text-center">
                </div>
                <div class="d-flex flex-column align-items-center pb-3">
                    <label for="urlImagen" class="fw-bold">Url de la imagen</label>
                    <input type="text" name="formModificarPelicula" id="urlImagen" value="{{pelicula.urlImagen}}"
                        class="w-75 text-center">
                </div>
                <div class="d-flex flex-column align-items-center pb-3">
                    <label for="fechaSalida" class="fw-bold">Fecha de salida</label>
                    <input type="text" name="formModificarPelicula" id="fechaSalida" value="{{pelicula.fechaSalida }}"
                        class="w-75 text-center">
                </div>
                <div class="d-flex flex-column align-items-center pb-3">
                    <label for="sinopsis" class="fw-bold">Sinopsis</label>
                    <input type="text" name="formModificarPelicula" id="sinopsis" value="{{pelicula.sinopsis}}"
                        class="w-75 text-center">
                </div>
                <div class="d-flex flex-column align-items-center pb-3">
                    <label for="esMarvel" class="fw-bold">¿La pelicula es de Marvel?</label>
                    <input type="text" name="formModificarPelicula" id="esMarvel"
                        value="'Si' o 'No', Esta pelicula: {{pelicula.esMarvel}}" class="w-75 text-center">
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger my-3" (click)="modificarPelicula()">Modificar pelicula</button>
                </div>
            </div>
        </div>
    </div>
</div>