:root {
    --anchoCarta: 200px;
}

.imgTitulo {
    width: 4rem;
}

#cartas {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--anchoCarta);
    border: 2px solid gray;
    border-radius: 13px;
}

.imgCarta {
    max-width: var(--anchoCarta);
}