.letraMarvel {
    margin-top: 1rem;
    font-family: "Marvel";
    font-size: 3rem;
}

@media (min-width: 640px) {
    .letraMarvel {
        font-size: 6rem;
    }
}

article {
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 22px  white;
}

.peliculasHome {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 22px  lightgrey;
}

.peliculaLista {
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0px 10px 13px -7px ;
}