#nombres {
    background-color: lightblue;
    border-color: lightskyblue;
}

#nombres .btn-outline-primary {
    border-color: lightblue;
}

#habitaciones {
    background-color: lightgreen;
    border-color: burlywood;
}

#habitaciones .btn-outline-success {
    border-color: lightgreen;
}

#oraciones {
    background-color: white;
    border-color: black;
    max-height: 200px;
    overflow-y: scroll;
}

.seccion {
    height: 100%;
    padding: 1rem;
    margin: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#limpiar {
    width: 90%;
}